* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    --color1: #FFF;
    --color2: #e2b973;
    --color3: #b39377;
}

.nav-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.75;
    padding-left: 0;
}

#menu-title {
    display: none;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--color1);
    text-align: center;
    position: relative;
    padding: 10px 0;
    transition: color 0.3s ease, padding 0.3s ease;
}

.menu li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.menu li a:hover::after {
    width: 100%;
    background: var(--color3);
}

.menu li a:hover {
    color: var(--color3);
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    left: 20px;
}

#check {
    display: none;
}

/* Media query para hacer responsive el menú de navegación */
@media(max-width: 750px) {
    .nav-bar {
        justify-content: flex-start;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        padding-left: 20px;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    #menu-title {
        display: block;
        color: #FFF;
        font-size: 2em;
        font-weight: bold;
        width: 100%;
        padding: 10px 0;
        text-align: left;
        transition: all 0.3s ease;
        margin-left: 10px;
    }

    .menu li {
        width: 100%;
        margin-top: 40px;
        margin-left: 10px;
    }

    .menu li a {
        padding: 10px 0;
        color: var(--color1);
        transition: color 0.3s ease, padding 0.3s ease;
        white-space: nowrap;
        overflow: hidden;
    }

    .menu li a::after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        background: var(--color1);
        transition: width 0.3s ease;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu li a:hover::after {
        width: 100%;
        background: var(--color3);
    }

    .menu li a:hover {
        color: var(--color3);
        padding: 10px 0;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    /* Pseudo-clase :checked para mostrar las opciones del menú hamburguesa cuando se hace clic en el icono */
    #check:checked~.menu {
        left: 0;
    }

    #check:not(:checked) ~ .menu {
        left: -100%;
    }
}

/* Estilos para las secciones */
.exercise-section {
    width: calc(50% - 20px); /* Ancho de las secciones */
    box-sizing: border-box; /* Tamaño total de la sección incluyendo los bordes */
    overflow: hidden; /* Evita que el contenido sobresalga del contenedor */
    display: inline-block; /* Hace que las secciones se coloquen una al lado de la otra */
    vertical-align: top; /* Alinea las secciones en la parte superior */
}

/* Estilos para las secciones impares */
.exercise-section:nth-child(odd) {
    float: left;
}

/* Estilos para las secciones pares */
.exercise-section:nth-child(even) {
    float: right;
}

/* Estilos para el título de la sección */
.exercise-section h2 {
    padding: 10px;
    background-color: #f0f0f0; /* Color de fondo del título */
    margin: 0;
}

/* Estilos para el contenido de la sección */
.exercise-content {
    padding: 10px; /* Reducir el padding */
}

/* Espaciador */
.spacer {
    height: 20px;
}
/* Estilos para el footer */
footer {
    margin-top: auto; 
    background-color: var(--color2);
    color: white;
    padding: 10px 0;
    text-align: center;
    clear: both;
}

/* Estilos para los iconos de redes sociales en el footer */
footer .social-icons a {
    color: #fff; /* Color de los íconos */
    font-size: 24px; /* Tamaño de los íconos */
    margin: 0 10px; /* Espaciado entre los íconos */
}
/* Agrega un margen superior al primer elemento después del footer */
.box-container:first-child {
    margin-top: 20px;
}
/* Agrega un margen superior al contenido debajo de la barra de navegación */
.box-container {
    margin-top: 80px; /* Ajusta este valor según la altura de tu barra de navegación */
}
